/* XX-Large screen(>= 1400px) */
@media screen and (max-width:1400px) {

}


/* X-Large screen(>= 1200px) */
@media screen and (max-width:1200px) {

}


/* large screen(>= 992px) */
@media screen and (max-width:992px) {

    /* common code */
    .my-btn{
        padding: 0.72rem 1.2rem;
    }

    /* navbar */
    .navbar-nav{
        margin-left: 0px;
    }

    /* hero-section */
    #hero-section .hero-contents{
        padding: 220px 0px 150px;
        max-width : 90%;
    }

    .hero-description{
        font-size: 1.15rem;
    }

}


/* medium screen(>= 768px) */
@media screen and (max-width:768px) {

    /* common code */
    .my-btn{
        padding: 0.62rem 1.1rem;
    }

    /* hero-section */
    #hero-section .hero-contents{
        padding: 220px 0px 140px;
        max-width : 100%;
    }

    .hero-description{
        font-size: 1.1rem;
    }

}


/* samll screen(>= 576px) */
@media screen and (max-width:576px) {

    /* nav-logins display:none */
    .nav-logins{
        display: none;
    }

    /* hero-section */
    .hero-heading{
        font-size: 2.8rem;
        line-height: 3.3rem;
    }

    .hero-description{
        line-height: 1.65rem;
    }
}

/* extra small screen(>=400px) */
@media screen and (max-width:400px) {
    
}