/*   font-family: "Original Surfer", sans-serif;   */

/* reset code and common code starts here */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --brand-color: #0BB990;
    --secondary-color: #fff;
    --tertiary-color: #1E1E1E;
    --quaternary-color: #787878;
    --quinary-color: #585858;
    --letter-spacing: 0.02rem;
    --transition: 0.4s ease-in-out;
    --border-radius: 8px;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

.section-padding{
    padding: 40px 0px;
}

.my-btn{
    padding: 0.8rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
/* reset code and commoncode ends here */


/* nav section starts here */
nav{
    background-color: #0a0a0a;
}

.navbar {
    padding: 0;
}

.nav-logo__container {
    height: 40px;
}

.nav-logo {
    height: 100%;
}

.brand-name {
    color: var(--secondary-color);
    font-size: 1.30rem;
    line-height: 1;
    margin: 0;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-style: italic;
}

.nav-logins .d-flex {
    margin-bottom: 0;
}

.navbar-nav {
    margin-left: 50px;
}

.navbar-nav .nav-link {
    color: var(--secondary-color);
    font-size: 0.937rem;
    line-height: 1.625rem;
    font-weight: 500;
}

.nav-logins .nav-link {
    color: var(--secondary-color);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    letter-spacing: var(--letter-spacing);
}

.nav-logins .register-btn {
    border: 2px solid var(--secondary-color);
    padding: 0.5rem 1.2rem;
    border-radius: var(--border-radius);
    background: transparent;
    transition: var(--transition);
}

.nav-logins .register-btn:hover {
    background-color: var(--secondary-color);
    color: var(--quinary-color);
}

.offcanvas {
    background-color: rgba(10, 11, 15, .85);
    width: 320px !important;
}

.offcanvas-header {
    padding: 2rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.btn {
    --bs-btn-box-shadow: transparent;
    --bs-btn-border-width: 0px;
}

.btn-close {
    --bs-btn-close-focus-shadow: transparent;
}

.navbar {
    --bs-navbar-toggler-border-color: transparent;
}

.navbar-toggler {
    line-height: 0;
}

.fa-bars-staggered {
    color: var(--secondary-color);
    font-size: 1.2rem;
}

.navbar-toggler {
    background-color: var(--brand-color);
    padding: 0.5rem ;
}
/* nav section ends here */


/* hero section starts here */
#hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0,0.4)), url("../images/hero-banner.webp");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#hero-section .hero-contents{
    padding: 220px 0px 180px;
    max-width : 510px;
}

.hero-heading{
    font-size: 3.437rem;
    font-weight: 500;
    line-height: 4rem;
    color: var(--secondary-color);
}

.hero-heading span{
    font-family: "Original Surfer", sans-serif;
    color: var(--brand-color);
}

.hero-description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 300;
    letter-spacing: var(--letter-spacing);
}

.get-started__btn{
    background-color: var(--brand-color);
    border: 1px solid var(--brand-color);
}

.learn-more__btn{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

/* hero section ends here */


/* infinite loop starts here */

.logo-slider{
    overflow-x: hidden;
}

.logo-overflow{
    overflow: hidden;
}

.logo-wrapper{
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    animation: LogoLoop 15s linear infinite;
    width: max-content;
}

.logo-item{
    display: grid;
    place-items: center;
    aspect-ratio: 30/9;
}

@keyframes LogoLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
/* infinite loop ends here */